<!Doctype html>
<html lang="ko">
    <head>
        <title>만반잘부 클래스 :: MZ세대 신입사원 양성 교육</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="만반잘부 클래스, 만반잘부 Class , MZ세대 신입사원 양성 교육,MZ Class, 신입사원 양성 교육, MZ세대 신입사원 교육, 대학내일, 커넥트밸류, 만반잘부, 만반잘, 만반">
        <meta name="description" content="밀레니얼-Z세대 신입사원을 위한 만반잘부 클래스! 대한민국에서 가장 젊은 신입사원 양성 교육을 만나보세요!">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="만반잘부 클래스 :: MZ세대 신입사원 양성 교육">
        <meta property="og:description" content="밀레니얼-Z세대 신입사원을 위한 만반잘부 클래스! 대한민국에서 가장 젊은 신입사원 양성 교육을 만나보세요!">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="만반잘부 클래스 :: MZ세대 신입사원 양성 교육">
        <meta property="twitter:description" content="밀레니얼-Z세대 신입사원을 위한 만반잘부 클래스! 대한민국에서 가장 젊은 신입사원 양성 교육을 만나보세요!">
        <meta property="twitter:image" content="../../content/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> <!-- google font -->

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/fullpage.min.css" rel="stylesheet">
        <link href="../../content/styles/slick.css" rel="stylesheet">
        <link href="../../content/styles/content.css" rel="stylesheet">
        <link href="../../content/styles/main.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/slick.min.js"></script>
        <script src="../../content/scripts/fullpage.min.js"></script>
        <script src="../../content/scripts/common.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header id="mainHd">
            <a href="javascript:void(0);" class="hd-tgl-btn"><span class="bar"></span></a>
            <div id="tglNav">
                <div class="tgl-nav">
                    <ul class="nav-menu-list__tgl">
                        <li>
                            <a href="classNewcomer.html" class="nav-menu__tgl fs18">신입은 처음이라</a>
                        </li>
                        <li>
                            <a href="classJunior.html" class="nav-menu__tgl fs18">선배는 처음이라</a>
                        </li>
                        <li>
                            <a href="classLeader.html" class="nav-menu__tgl fs18">리더는 처음이라</a>
                        </li>
                        <li>
                            <a href="classXZit.html" class="nav-menu__tgl fs18">엑지트<span class="efw400">(XZ:it)</span></a>
                        </li>
                    </ul>
                    <div class="nav-ft">
                        <i class="nav-ci__class"><img src="../../content/images/nav-ci-class.png" alt="만반잘부 CLASS"></i>
                        <p class="nav-txt__info efw700 fs14">E : tmi@mz-class.com<br>T : 02-6080-3379</p>
                        <i class="nav-ci__corp"><img src="../../content/images/nav-ci-corp.png" alt="만반잘부 CLASS"></i>
                    </div>
                </div>
            </div> <!-- //nav -->
        </header>
        <!-- //header END -->
        <!-- main START -->
        <main>
            <!-- fullpage START -->
            <div id="main">
                <div class="main-area__vsl section" id="section0">
                    <i class="main-ico__vsl-circ top mo-hide"><img src="../../content/images/main/visual-icon-circles.png" alt="원모양 도형"></i>
                    <i class="main-ico__vsl-circ btm mo-hide"><img src="../../content/images/main/visual-icon-circles.png" alt="원모양 도형"></i>
                    <i class="main-ico__vsl-smile top mo-hide"><img src="../../content/images/main/visual-icon-smile.png" alt="스마일 아이콘"></i>
                    <i class="main-ico__vsl-smile btm mo-hide"><img src="../../content/images/main/visual-icon-smile.png" alt="스마일 아이콘"></i>
                    <i class="main-ico__vsl-star greenstar"><img src="../../content/images/main/visual-icon-star-green.png" alt="초록색 별"></i>
                    <i class="main-ico__vsl-star redstar"><img src="../../content/images/main/visual-icon-star-red.png" alt="빨간색 별"></i>
                    <i class="main-ico__vsl-star bluestar"><img src="../../content/images/main/visual-icon-star-blue.png" alt="파란색 별"></i>
                    <i class="main-ico__vsl-star purplestar"><img src="../../content/images/main/visual-icon-star-purple.png" alt="보라색 별"></i>
                    <i class="main-ico__vsl-arw"><img src="../../content/images/main/visual-ico-arrow.png" alt="화살표"></i>
                    <div class="main-cont__vsl">
                        <div class="main-titbox__vsl">
                            <h1 class="main-tit__vsl"><img src="../../content/images/main/visual-title.png" alt="만나서 반가워 잘 부탁해 - 만반잘부 CLASS"></h1>
                        </div>
                        <p class="main-txt__vsl fs20">이 시대 직장인이 꿈꾸는<br>‘슬기로운 직장 생활’은 무엇일까요?</p>
                        <p class="main-txt__vsl fs20"><strong class="fw700">만반잘부</strong> <strong class="efw700">Class</strong>는 모든 세대가 공존하는<br>‘요즘 기업’을 위해 ‘요즘 교육’을 준비합니다.</p>
                        <p class="main-txt__vsl fs20"><strong class="efw700"><span class="fc-neongreen">X</span><span class="fc-yellow">Y</span><span class="fc-lavender">Z</span></strong><strong class="fw700">세대 직장인에 대한</strong><br><strong class="main-deco__underline"><span class="fw700">기업 교육</span> <span class="efw700">A to Z</span></strong>를 만나보세요!</p>
                    </div>
                </div> <!-- //section 1 : visual -->
                <div class="main-area__gate section" id="section1">
                    <div class="main-cont__gate">
                        <ul class="main-gate-list">
                            <li>
                                <a href="classNewcomer.html" class="main-gate-item">
                                    <figure class="main-gate-card"><img src="../../content/images/main/gate-card-newcomer.png" alt="알잘딱깔센 입사 정착기 MZ세대 신입사원"></figure>
                                    <p class="main-gate-tag fs20">#MZ세대향 콘텐츠 #실무적용<br>#교육 모듈 커스터마이징<i>.<br>.<br>.</i></p>
                                    <span class="main-gate-btn fw700 fs20 purple">만나러 가기</span>
                                </a>
                            </li>
                            <li>
                                <a href="classJunior.html" class="main-gate-item">
                                    <figure class="main-gate-card"><img src="../../content/images/main/gate-card-junior.png" alt="알잘딱깔센 입사 정착기 MZ세대 신입사원"></figure>
                                    <p class="main-gate-tag fs20">#스마트한 업무 관리 스킬<br>#셀프 케어 #관계 관리<i>.<br>.<br>.</i></p>
                                    <span class="main-gate-btn fw700 fs20 red">만나러 가기</span>
                                </a>
                            </li>
                            <li>
                                <a href="classLeader.html" class="main-gate-item">
                                    <figure class="main-gate-card"><img src="../../content/images/main/gate-card-senior.png" alt="좋은 리더가 되고 싶은 초보 리더 M세대 시니어 직급"></figure>
                                    <p class="main-gate-tag fs20">#조직 관리 #네트워킹과 협업<br>#소통·갈등관리 #성과 및 피드백<i>.<br>.<br>.</i></p>
                                    <span class="main-gate-btn fw700 fs20 blue">만나러 가기</span>
                                </a>
                            </li>
                            <li>
                                <a href="classXZit.html" class="main-gate-item">
                                    <figure class="main-gate-card"><img src="../../content/images/main/gate-card-team.png" alt="따로 또 같이의 가치를 아는 XYZ세대간의 팀빌딩"></figure>
                                    <p class="main-gate-tag fs20">#미션수행 #워크샵<br>#실·내외 #액티비티<i>.<br>.<br>.</i></p>
                                    <span class="main-gate-btn fw700 fs20 neongreen">만나러 가기</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- //section 2 : gate -->
                <div class="main-area__intro section" id="section2">
                    <i class="main-ico__intro-copy manager mo-hide"><img src="../../content/images/main/intro-copy-manager.png" alt="#밀레니얼_대리"></i>
                    <i class="main-ico__intro-copy newcomer mo-hide"><img src="../../content/images/main/intro-copy-newcomer.png" alt="#MZ세대_신입"></i>
                    <i class="main-ico__intro-copy intern mo-hide"><img src="../../content/images/main/intro-copy-intern.png" alt="#gen-Z_인턴"></i>
                    <i class="main-ico__intro-copy head mo-hide"><img src="../../content/images/main/intro-copy-head.png" alt="#86세대_부장"></i>
                    <i class="main-ico__intro-copy exag mo-hide"><img src="../../content/images/main/intro-copy-exag.png" alt="#X세대_과장"></i>
                    <i class="main-ico__intro-copy life mo-hide"><img src="../../content/images/main/intro-copy-life.png" alt="#슬기로운직장생활"></i>
                    <i class="main-ico__intro-circ purplecirc top mo-hide"><span class="txt-hidden">보라색 원</span></i>
                    <i class="main-ico__intro-circ purplecirc btm mo-hide"><span class="txt-hidden">보라색 원</span></i>
                    <i class="main-ico__intro-circ bluecirc mo-hide"><span class="txt-hidden">파란색 원</span></i>
                    <i class="main-ico__intro-circ greencirc mo-hide"><span class="txt-hidden">초록색 원</span></i>
                    <i class="main-ico__intro-circ redcirc mo-hide"><span class="txt-hidden">빨간색 원</span></i>
                    <i class="main-ico__intro-star greenstar mo-hide"><img src="../../content/images/main/intro-icon-star-green.png" alt="연두색 별"></i>
                    <i class="main-ico__intro-star redstar mo-hide"><img src="../../content/images/main/intro-icon-star-red.png" alt="빨간색 별"></i>
                    <div class="main-cont__intro">
                        <h2 class="main-tit__intro fs37 fc-yellow"><span class="efw700 txt-linebreak__mo">Welcome to</span> 만반잘부 <span class="efw700">Class</span> <i class="main-emoji__intro hand"><img src="../../content/images/main/intro-emoji-hand.png" alt="손 흔드는 이모지"></i></h2>
                        <div class="main-txtbox__intro">
                            <p class="main-txt__intro mo-hide fs20">'10년이면 강산이 변한다'는 말이 무색하게<br>요즘은 3년만 해도 세대 차이가 느껴지곤 합니다.<br><br>서로 다른 시대를 살아온 개인이 모인<br>직장에서 ‘세대 갈등’을 느끼는 것은 당연한데요.. <i class="main-emoji__intro tear"><img src="../../content/images/main/intro-emoji-tear.png" alt="우는 표정의 이모지"></i><br><br><strong class="fw700">#MZ세대 맞춤교육 #세대통합 팀빌딩 등이<br>고민이라면, 만반잘부 Class에 오신 걸 환영합니다! <i class="main-emoji__intro pangpare"><img src="../../content/images/main/intro-emoji-pangpare.png" alt="우는 표정의 이모지"></i></strong></p>
                            <p class="main-txt__intro mo-show fs20">'10년이면 강산이 변한다'는<br>말이 무색하게 요즘은 3년만 해도<br>세대 차이가 느껴지곤 합니다.<br><br>서로 다른 시대를 살아온<br>개인이 모인 직장에서 ‘세대 갈등’을<br>느끼는 것은 당연한데요..<br><br><strong class="fw700">#MZ세대 맞춤교육<br>#세대통합 팀빌딩 등이 고민이라면,<br>만반잘부 Class에 오신 걸 환영합니다!</strong></p>
                        </div>
                    </div>
                </div> <!-- //section 3 : intro -->
                <div class="main-area__desc section" id="section3">
                    <i class="main-ico__desc-circ mo-hide"><img src="../../content/images/main/decription-icon-circles.png" alt="원형 아이콘"></i>
                    <i class="main-ico__desc-star purplestar"><img src="../../content/images/main/visual-icon-star-purple.png" alt="보라색 별"></i>
                    <i class="main-ico__desc-star greenstar"><img src="../../content/images/main/visual-icon-star-green.png" alt="초록색 별"></i>
                    <i class="main-ico__desc-star redstar"><img src="../../content/images/main/visual-icon-star-red.png" alt="빨간색 별"></i>
                    <i class="main-ico__desc-star bluestar"><img src="../../content/images/main/visual-icon-star-blue.png" alt="파란색 별"></i>
                    <div class="main-cont__desc flex-box flex-row__rv flex-spc__cnt flex-align__cnt">
                        <div class="main-desc-wrap__rt">
                            <h2 class="main-tit__desc efw700 fs37 fc-yellow"><span class="txt-linebreak__mo">Who</span> Am I ?</h2>
                            <p class="main-txt__desc fs20"><strong class="fw700">MZ세대 전문 그룹 대학내일과,<br>기업교육 전문 그룹 커넥트밸류가 만났습니다.</strong><br><br>MZ세대 직장인을 잘 알고 이해하는 우리는<br>한민국에서 가장 젊은 기업교육을 선사합니다.<br><br>서로가 만나서 반갑고 잘 부탁할 수 있는<br>슬기로운 직장 생활을 만들어 나갑니다! <i class="main-emoji__desc strong"><img src="../../content/images/main/description-emoji-strong.png" alt="힘있는 팔 이모지"></i></p>
                        </div>
                        <div class="main-desc-wrap__lt">
                            <figure><img src="../../content/images/main/description-corpgroup.png" alt="MZ세대 타깃 마케팅·콘텐츠 전문 그룹 대학내일, 대학내일20대연구소 + 스마트한 기업교육 컨설팅 전문 그룹 커넥트밸류 = 만반잘부 Class"></figure>
                        </div>
                    </div>
                </div> <!-- //section 4 : description -->
                <div class="main-area__faq section" id="section4">
                    <div class="main-cont__faq">
                        <i class="main-ico__faq-smile lt mo-show"><img src="../../content/images/main/faq-icon-smile.png" alt="스마일 아이콘"></i>
                        <i class="main-ico__faq-smile rt mo-show"><img src="../../content/images/main/faq-icon-smile.png" alt="스마일 아이콘"></i>
                        <i class="main-ico__faq-star redstar top"><img src="../../content/images/main/visual-icon-star-red.png" alt="빨간색 별"></i>
                        <i class="main-ico__faq-star redstar btm"><img src="../../content/images/main/visual-icon-star-red.png" alt="빨간색 별"></i>
                        <i class="main-ico__faq-star bluestar"><img src="../../content/images/main/visual-icon-star-blue.png" alt="파란색 별"></i>
                        <i class="main-ico__faq-star greenstar top"><img src="../../content/images/main/visual-icon-star-green.png" alt="초록색 별"></i>
                        <i class="main-ico__faq-star greenstar btm mo-show"><img src="../../content/images/main/visual-icon-star-green.png" alt="초록색 별"></i>
                        <h2 class="main-tit__faq efw700 fs37 fc-yellow"><span class="txt-linebreak__mo">FAQ!</span> Need Help?</h2>
                        <div class="main-txtbox__faq">
                            <i class="main-ico__faq-smile mo-hide"><img src="../../content/images/main/faq-icon-smile.png" alt="스마일 아이콘"></i>
                            <i class="main-ico__faq-shape mo-hide"><img src="../../content/images/main/faq-icon-shape.png" alt="도형 아이콘"></i>
                            <ul class="faq-list__main">
                                <li class="faq-item__main">
                                    <a href="javascript:void(0);" class="faq-q__main active  fw700 fs22"><span class="faq-label__main efw700">Q.</span> 교육 사례 또는 후기를 볼 수 있을까요?</a>
                                    <div class="faq-a__main">
                                        <p class="faq-txt__main fs18"><a href="https://blog.naver.com/connect-value" target="_blank" title="커넥트 밸류 블로그 (새 창 이동)">👉 만반잘부 <span class="efw500">Class</span> 교육 후기 보러 가기</a><br>2020년 2월 기준, 많은 기업과 교육담당자께서 만반잘부 <span class="efw500">Class</span>를 찾아 주셨습니다.<br>사례와 후기는 위 링크를 통해 지속적으로 공유될 예정이니 많은 관심 바랍니다</p>
                                    </div>
                                </li>
                                <li class="faq-item__main">
                                    <a href="javascript:void(0);" class="faq-q__main fw700 fs22"><span class="faq-label__main efw700">Q.</span> 교육 문의는 어디서 하나요?</a>
                                    <div class="faq-a__main">
                                        <p class="faq-txt__main fs18">홈페이지 우측 하단의 ‘채널톡’을 통해 문의하시면 담당자로부터 빠른 답변을 드립니다.<br>그 외, 다른 채널을 활용하고 싶다면 아래 연락처를 확인해주세요.<br>📞 02-6080-3379<br>📩 tmi@mz-class.com</p>
                                    </div>
                                </li>
                                <li class="faq-item__main">
                                    <a href="javascript:void(0);" class="faq-q__main fw700 fs22"><span class="faq-label__main efw700">Q.</span> '다른 교육'도 문의 가능할까요?</a>
                                    <div class="faq-a__main">
                                        <p class="faq-txt__main fs18">MZ세대 전문 기업 대학내일과 기업교육 전문 기업 커넥트밸류의 협력 아래<br>MZ세대 관련 교육 범위는 꾸준히 확대하고 있습니다.<br>어떤 사항이든 문의처(채널톡/전화/메일)로 편하게 문의주세요.<br>추가로, 커넥트밸류는 교육 컨설팅 기업이자 온라인 HRD 플랫폼 기업으로<br>500여 명의 전문 강사진을 보유하고 있어,<br>의뢰하시는 어떤 교육이든 적합한 교육 기획과 운영이 가능합니다.</p>
                                    </div>
                                </li>
                                <li class="faq-item__main">
                                    <a href="javascript:void(0);" class="faq-q__main fw700 fs22"><span class="faq-label__main efw700">Q.</span> MZ세대 교육에 대해 지속적으로 안내 받을 수 있을까요?</a>
                                    <div class="faq-a__main">
                                        <p class="faq-txt__main fs18">물론입니다.<br>문의주신 소중한 고객님을 대상으로<br>MZ세대 교육에 관한 정보 메일을 꾸준히 보내 드릴 예정입니다.<br>어떤 사항이든, 문의처(채널톡/전화/메일)로 편하게 문의주세요.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- //section 5 : faq -->
                <div class="section fp-auto-height" id="section5">
                    <footer class="flex-box flex-spc__btw flex-align__cnt">
                        <div class="ft-wrap__lt flex-box flex-align__cnt">
                            <i class="ft-ci__class"><img src="../../content/images/footer-ci-class.png" alt="만반잘부 CLASS"></i>
                            <p class="ft-txt__info efw700 fs18"><span class="fc-lavender">E</span> : tmi@mz-class.com<br><span class="fc-neongreen">T</span> : 02-6080-3379</p>
                        </div>
                        <div class="ft-wrap__rt">
                            <i class="ft-ci__corp"><img src="../../content/images/footer-ci-corp.png" alt="대학내일 X 커넥트밸류"></i>
                            <p class="ft-txt__copyright efw300 fs14"><span class="txt-linebreak__mo">COPYRIGHT &copy; UNIVTOMORROW & CONNECTVALUE</span> ALL RIGHTS RESERVED</p>
                        </div>
                    </footer>
                </div> <!-- //section 6 -->
            </div>
            <!-- //fullpage END -->
        </main>
        <!-- //main END -->
    </body>
    <script src="../../content/scripts/gsap.min.js"></script>
    <script>
        //fullpage
        $(window).load(function(){
            new fullpage('#main', {
                licenseKey: 'C0313A3F-73B64EB9-B10F5C69-9C75EC32',
                anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage', '5thPage', '6thPage'],
                scrollingSpeed: 1000,
                navigation: true,
                navigationPosition: 'right',
                recordHistory: false,
                responsiveWidth: 575.98,
                afterRender: function () {
                    //gate slider
                    $(".main-gate-list").slick({
                        slidesToShow: 4,
                        variableWidth: true,
                        arrows: false,
                        responsive: [
                            {
                                breakpoint: 1366.98,
                                settings: {
                                    variableWidth: false
                                }
                            },
                            {
                                breakpoint: 575.98,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    variableWidth: false,
                                    autoplay: true,
                                    speed: 1000,
                                    infinite: true,
                                    dots: true
                                }
                            }
                        ]
                    });
                },
                afterLoad: function(anchorLink, index) {
                    history.pushState(null, null, "index.html");
                },
                onLeave: function (origin, destination, direction) {
                    //add class ani-active
                    if (destination.index == 2) {
                        $(".main-area__intro").addClass("ani-active");
                    }

                    if (destination.index == 3) {
                        $(".main-area__desc").addClass("ani-active");
                    }
                    
                    if (destination.index == 5) {
                        $("#fp-nav.fp-right").fadeOut(350);
                    }
                    if (origin.index == 5 && direction == 'up') {
                        $("#fp-nav.fp-right").fadeIn(350);
                    }
                }
            });
        });

        //main parallax event
        mainParallax();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151914118-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151914118-1');
    </script>
    <!-- //Global site tag (gtag.js) - Google Analytics -->
</html>