<table width="100%" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td>
                <div style="width:720px;padding:0;background:#fff">
                    <table width="720" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                        style="font-family:'NanumSquare',sans-serif,Dotum;color:#202020;letter-spacing:-2px;border:1px solid #e7e7e7">
                        <tbody>
                            <tr>
                                <td align="right" style="padding:20px 40px"><img alt="현대차 정몽구 재단"
                                        src="https://ci3.googleusercontent.com/proxy/i4ZDsOYKJL50rJNatahsCIP1uHsZoav8Ogt7TSelCuMwa1fVwlqeiv3N5Pe3aJIGmSpCUBv6UAjRcq_LMs3q63WtGBIxcXZn1gXEPMefLTUmpe_uwT3y=s0-d-e1-ft#https://www.cmkfoundation-scholarship.org/content/images/ci_mail.png"
                                        class="CToWUd"></td>
                            </tr>                            
                            <tr>
                                <td align="center"
                                    style="padding-top:20px;font-size:20px;font-weight:700;color:#202020">
                                    새로운 도전을 마다않는 담당자님🔥 &lt;신입사원 양성 교육&gt;에 관심이 있으시군요!</td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="padding-top:20px;font-size:20px;font-weight:700;color:#202020">
                                    첫 단추가 중요한 신입사원 교육을 최대한 그들의 언어로 담았으니,</td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="padding-top:20px;font-size:20px;font-weight:700;color:#202020">
                                    아래 다운로드 버튼을 클릭하고 확인 부탁드립니다.</td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="padding-top:20px;font-size:20px;font-weight:700;color:#202020">
                                    혹, 궁금한 점이 있다면 언제든지 만반잘부Class로 문의 부탁드립니다.</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;vertical-align:middle;padding:30px 10px">
                                    <center>
                                        <table
                                            style="width:350px;height:50px;border:none;font-size:19px;background-color:#003e7f;color:#fff">
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center"><a
                                                            href="https://www.cmkfoundation-scholarship.org/User/Login"
                                                            style="color:#fff;text-decoration:none" target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.cmkfoundation-scholarship.org/User/Login&amp;source=gmail&amp;ust=1638348368245000&amp;usg=AOvVaw29Gv_5qy2TAVAlci8B1_HV">
                                                            &lt; 신입은 처음이라 &gt; 상품소개서다운로드</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:30px 40px;background-color:#f8f8f8">
                                    <table style="font-size:14px;letter-spacing:-2px">
                                        <tbody>
                                            <tr>
                                                <td style="padding:5px 0"><strong>·</strong>&nbsp;&nbsp;추가 본 이메일은
                                                    발신전용이므로 문의사항은 공식 사이트 내의 문의를 통해 연락 주십시오.</td>
                                            </tr>
                                            <tr>
                                                <td><strong>·</strong>&nbsp;&nbsp;문의하기 전에 먼저 FAQ를 보시면 빠른 답을 찾을 수 있습니다.
                                                    <a href="https://www.cmkfoundation-scholarship.org/FAQ"
                                                        style="display:inline-block;margin-left:10px;width:100px;font-size:13px;line-height:24px;color:#003e7f;text-align:center;text-decoration:none;border:1px solid #003e7f;vertical-align:middle"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.cmkfoundation-scholarship.org/FAQ&amp;source=gmail&amp;ust=1638348368245000&amp;usg=AOvVaw2yzWmtD1d-Q4xx47A-WK4D">
                                                        <strong>FAQ 게시판</strong> </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>