<!Doctype html>
<html lang="ko">
    <head>
        <title>만반잘부 클래스 :: MZ세대 신입사원 양성 교육</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="만반잘부 클래스, 만반잘부 Class , MZ세대 신입사원 양성 교육,MZ Class, 신입사원 양성 교육, MZ세대 신입사원 교육, 대학내일, 커넥트밸류, 만반잘부, 만반잘, 만반">
        <meta name="description" content="밀레니얼-Z세대 신입사원을 위한 만반잘부 클래스! 대한민국에서 가장 젊은 신입사원 양성 교육을 만나보세요!">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="만반잘부 클래스 :: MZ세대 신입사원 양성 교육">
        <meta property="og:description" content="밀레니얼-Z세대 신입사원을 위한 만반잘부 클래스! 대한민국에서 가장 젊은 신입사원 양성 교육을 만나보세요!">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="만반잘부 클래스 :: MZ세대 신입사원 양성 교육">
        <meta property="twitter:description" content="밀레니얼-Z세대 신입사원을 위한 만반잘부 클래스! 대한민국에서 가장 젊은 신입사원 양성 교육을 만나보세요!">
        <meta property="twitter:image" content="../../content/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> <!-- google font -->

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/content.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/common.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header class="flex-box flex-align__cnt">
            <h1 class="hd-ci"><a href="index.html"><img src="../../content/images/header-ci.png" alt="만반잘부"></a></h1>
            <nav>
                <div class="nav-scrl-wrap">
                    <ul class="flex-box flex-align__cnt">
                        <li><a href="classNewcomer.html" class="nav-menu fw700 fs16 fc-black">신입은 처음이라</a></li>
                        <li><a href="classJunior.html" class="nav-menu fw700 fs16 fc-black">선배는 처음이라</a></li>
                        <li><a href="classLeader.html" class="nav-menu fw700 fs16 fc-black">리더는 처음이라</a></li>
                        <li><a href="classXZit.html" class="nav-menu fw700 fs16 fc-black">엑지트(XZ:it)</a></li>
                    </ul>
                </div>
            </nav> <!-- //nav -->
        </header>
        <!-- //header END -->
        <!-- content START -->
        <section>
            <article class="policy-area">
                <div class="grid1280">
                    <h2 class="pb80 fs44 txt-cnt">개인정보 처리방침</h2>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">0. 총칙</dt>
                        <dd class="fs18">
                            <p class="policy-txt">“개인정보”란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다. 만반잘부클래스 운영국(이하 운영국)은 본 개인정보처리방침을 만반잘부 클래스 홈페이지(https://www.mz-class.com/)의 첫 화면 하단에 공개함으로써 이용자께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.본 방침은 2021년 12월 9일부터 시행되며, 이를 개정하는 경우 웹사이트 공지사항을 통하여 공지하겠습니다.</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">1. 수집하는 개인정보의 항목 및 수집방법</dt>
                        <dd class="fs18">
                            <p class="policy-txt txt-indent"><strong class="fw700"><span class="mark">(1)</span>수집하는 개인정보의 항목 및 목적</strong><br>운영국은 서비스 이용 시 아래와 같은 개인정보를 수집하고 있습니다.<br>- 수집 정보 : 이름, 소속, 이메일 주소<br>- 수집 목적 : 상품소개서 메일 발송, 신규 상품 안내 및 정보 제공<br>※ 운영국은 이용자의 사생활을 현저히 침해할 우려가 있는 민감정보는 수집하지 않습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong class="fw700"><span class="mark">(2)</span>개인정보 수집 방법</strong><br>- 홈페이지 상품소개서 받기를 통해 수집</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">2. 개인정보의 보유 및 이용기간</dt>
                        <dd class="fs18">
                            <p class="policy-txt">운영국은 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유하며, 해당 기간 이후에는 지체 없이 파기합니다.</p>
                            <p class="policy-txt txt-indent">- 보유 및 이용 기간 : 수집일로 부터 12개월</p>
                            <p class="policy-txt mt15">단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우, 운영국은 아래와 같이 관계법령에서 정한 일정한 기간 동안 개인정보를 보관합니다.</p>
                            <p class="policy-txt txt-indent">- 계약 또는 청약철회 등에 관련 기록 : 5년<br>- 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>- 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년<br>- 표시/광고에 관한 기록 : 6개월<br>- 이용자의 인터넷 등 로그기록/ 이용자의 접속지 추적자료 : 3개월<br>- 그 외의 통신사실 확인 자료 : 12개월</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">3. 개인정보의 파기 절차 및 파기 방법</dt>
                        <dd class="fs18">
                            <p class="policy-txt">개인정보 파기절차 및 방법은 다음과 같습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(1)</span>파기절차</strong><br>이용자의 개인정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(2)</span>파기방법</strong><br>전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">4. 수집한 개인정보의 위탁</dt>
                        <dd class="fs18">
                            <p class="policy-txt">운영국은 서비스 이행을 위해 아래와 같이 개인정보 처리 업무를 수탁에 위탁하여 처리하고 있습니다.<br>개인정보 처리 위탁은 해당 서비스에 따라 그 이행을 위해 필요한 경우에 한해 이루어집니다. 개인정보의 처리를 위탁하는 경우에는 개인정보 보호의 안전을 기하기 위하여 개인정보보호 관련 지시엄수, 개인정보에 대한 비밀유지, 제3자 제공의 금지 및 사고시의 책임부담, 위탁기간, 처리 종료 후의 개인정보의 반환 또는 파기 등을 명확히 규정하고, 수탁사가 개인정보를 안전하게 처리하도록 감독합니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(1)</span>위탁</strong><br>- 업체명 : 커넥트밸류<br>- 위탁 업무 내용 : 상품 개발 및 운영, 신규 상품에 대한 안내 및 정보 제공 (마케팅 수신 동의에 한함)</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">5. 제3자에게의 개인정보 제공</dt>
                        <dd class="fs18">
                            <p class="policy-txt">운영국은 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
                            <p class="policy-txt txt-indent">– 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>– 유료 서비스 제공에 따른 요금 정산을 위하여 필요한 경우<br>– 통계작성, 학술연구나 시장조사를 위해 특정 개인을 식별할 수 없는 형태로 가공하여 제공하는 경우<br>– 이용자들이 사전에 동의한 경우</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">6. 이용자 및 법정대리인의 권리와 그 행사방법</dt>
                        <dd class="fs18">
                            <p class="policy-txt">이용자 및 법정대리인은 기재한 이용자 본인의 개인정보 관련하여, 언제든지 개인정보 삭제 등의 철회를 요청할 수 있습니다. 이를 위하여 대표전화 (02- 6207-3368)또는 개인정보 보호책임자에게 서면,전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.</p>
                            <p class="policy-txt txt-indent mt15"><span class="mark">1)</span>운영국은 다음에 해당하는 경우에는 개인정보의 전부 또는 일부에 대하여 열람/ 정정·삭제를 거절할 수 있습니다.<br>–  법률에 따라 열람이 금지되거나 제한되는 경우<br>- 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</p>
                            <p class="policy-txt txt-indent"><span class="mark">2)</span>이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제3자에게 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하겠습니다.</p>
                            <p class="policy-txt txt-indent"><span class="mark">3)</span>사무국은 이용자 혹은 법정대리인의 요청에 의해 삭제/ 처리정지된 개인정보는 “1~5 각 항목”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</p>
                            <p class="policy-txt txt-indent"><span class="mark">4)</span>이용자의 개인정보를 최신의 상태로 정확하게 입력하여 주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.</p>
                            <p class="policy-txt txt-indent"><span class="mark">5)</span>이용자는 개인정보를 보호 받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 이용자의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등에 의해 처벌 받을 수 있습니다.</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">7. 인터넷 접속정보파일 등 개인정보를 자동으로 수집하는 장치의 설치 · 운영 및 그 거부에 관한 사항</dt>
                        <dd class="fs18">
                            <p class="policy-txt">운영국은 이용자의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 사무국의 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로, 이용자의 컴퓨터 하드디스크에 저장됩니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">1)</span>쿠키 등 사용 목적</strong><br>접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공</p>
                            <p class="policy-txt txt-indent"><strong><span class="mark">2)</span>쿠키 설정 거부 방법</strong><br>이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br>단, 이용자께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.</p>
                            <p class="policy-txt txt-indent mt15"><span class="mark">※</span>쿠키 설정 방법 (인터넷 익스플로러8.0을 사용하고 있는 경우)<br>① 「도구」 메뉴에서「인터넷옵션」을 선택합니다.「개인정보 탭」을 클릭합니다.<br>② 「설정」을 이용하여 본인에게 맞는 쿠키허용 수준을 설정하시면 됩니다.</p>
                            <p class="policy-txt txt-indent"><span class="mark">※</span>받은 쿠키를 보는 방법 (익스플로러8.0을 사용하고 있는 경우)<br>① 「도구」 메뉴에서 「인터넷옵션」 을 선택합니다.<br>② 「일반」 탭을 클릭하여 ‘검색기록’ 의 「설정」 으로 들어가서, 「파일보기」 를 통해 확인합니다.</p>
                            <p class="policy-txt txt-indent"><span class="mark">※</span>쿠키 설정 거부 방법 (인터넷 익스플로어 8.0 사용하고 있는 경우)<br>① 「도구」 메뉴에서 「인터넷 옵션」 을 선택한 후, 「개인정보 탭」 을 클릭합니다.<br>② 「설정」 을 이용하여 상위레벨로 하여 “모든 쿠키차단” 으로 설정하시면 됩니다.</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">8. 기타 개인정보 처리에 관한 방침</dt>
                        <dd class="fs18">
                            <p class="policy-txt txt-indent"><strong><span class="mark">(1)</span>내부관리계획의 수립 및 시행</strong><br>- ㈜대학내일은 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.<br>- ㈜대학내일은 사내 개인정보보호 전담기구 등을 통해 개인정보보호조치의 이행사항 및 담당자의 준수여부를 확인하여 문제 발견 시 즉시 시정 조치하도록 하고 있습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(2)</span>접속기록의 위조, 변조 방지를 위한 조치</strong><br>- ㈜대학내일은 개인정보처리시스템에 접속한 기록을 보관, 관리하고 있으며, 접속기록이 위조, 변조되지 않도록 보안기능을 사용하고 있습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(3)</span>개인정보의 암호화</strong><br>- 이용자의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 저장, 관리되며, 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(4)</span>처리 직원의 최소화 및 교육</strong><br>- ㈜대학내일은 이용자의 개인정보에 대한 접근권한을 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자, 개인정보보호책임이자 및 담당자 등 개인정보관리업무를 수행하는 자, 기타 업무상 개인정보의 처리가 불가피한 자로 제한하고 있습니다.<br>- 개인정보를 처리하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호 의무 등에 관해 정기적인 사내 교육 및 외부 위탁교육을 실시하고 있습니다.<br>- 입사시 전 직원의 보안서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하고 있습니다.<br>- 개인정보 관련 처리자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다.<br>- 전산실 및 자료 보관실 등을 특별 보호구역으로 설정하여 출입을 통제하고 있습니다.</p>
                            <p class="policy-txt txt-indent mt15"><strong><span class="mark">(5)</span>광고성 정보의 전송</strong><br>- 운영국은 이용자의 명시적인 동의가 없는 경우에는 영리목적의 광고성 정보를 전송하지 않습니다.<br>- ㈜대학내일은은 이용자가 상품정보 안내 등 마케팅 수신에 대한 동의를 한 경우, 이메일 제목란 및 본문란에 다음 사항과 같이 이용자가 쉽게 알아볼 수 있도록 조치합니다.<br>– 이메일 제목란에는 광고라는 문구를 표시하지 않을 수 있으며 이메일 본문란의 주요 내용을 표시합니다.<br>– 이메일 본문란에는 이용자가 수신거부의 의사표시를 할 수 있는 전송자의 명칭, 이메일 주소 및 전화번호를 명시하고, 이용자가 수신 거부의 의사를 쉽게 표시할 수 있는 방법을 명시합니다.</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">9. 개인정보 보호책임자</dt>
                        <dd class="fs18">
                            <p class="policy-txt">사무국은 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 이용자의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>
                            <p class="policy-txt mt15">① 개인정보 보호 책임자: 김영훈 대표<br>② 개인정보 보호 담당자: 김부록 수석<br>③ 전화번호 : 02-6959-1795<br>④ 이메일 : kimeric0516@univ.me</p>
                        </dd>
                    </dl>
                    <dl class="policy-wrap">
                        <dt class="policy-hd-tit fw700 fs20">10. 개인정보에 관한 민원서비스</dt>
                        <dd class="fs18">
                            <p class="policy-txt">기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
                            <p class="policy-txt mt15">① 개인분쟁조정위원회 (www.kopico.go.kr/1336)<br>② 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br>③ 대검찰청 인터넷범죄수사센터 (www.spo.go.kr/02-3480-3600)<br>④ 경찰청 사이버테러대응센터 (https://cyber.go.kr/02-392-0330)</p>
                        </dd>
                    </dl>
                </div>
            </article>
        </section>
        <!-- //content END -->
        <!-- footer START -->
        <footer class="flex-box flex-spc__btw flex-align__cnt">
            <div class="ft-wrap__lt flex-box flex-align__cnt">
                <i class="ft-ci__class"><img src="../../content/images/footer-ci-class.png" alt="만반잘부 CLASS"></i>
                <p class="ft-txt__info efw700 fs18"><span class="fc-lavender">E</span> : tmi@mz-class.com<br><span class="fc-neongreen">T</span> : 02-6080-3379</p>
            </div>
            <div class="ft-wrap__rt">
                <i class="ft-ci__corp"><img src="../../content/images/footer-ci-corp.png" alt="대학내일 X 커넥트밸류"></i>
                <p class="ft-txt__copyright efw300 fs14"><span class="txt-linebreak__mo">COPYRIGHT &copy; UNIVTOMORROW & CONNECTVALUE</span> ALL RIGHTS RESERVED</p>
                <a href="privacy.html" class="ft-txt__link fs14">개인정보 처리방침</a>
            </div>
        </footer>
        <!-- //footer END -->
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151914118-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151914118-1');
    </script>
    <!-- //Global site tag (gtag.js) - Google Analytics -->
</html>